[Unit]
Description=Neutron BGP dynamic routing agent
After=syslog.target network.target network.service openvswitch.service
PartOf=network.service

[Service]
Type=simple
User=neutron
PermissionsStartOnly=true
ExecStart=/usr/bin/neutron-bgp-dragent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/bgp_dragent.ini  --log-file /var/log/neutron/bgpdr-agent.log
PrivateTmp=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
